<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Example template</title>
    <link
        rel="icon"
        href="assets/favicon-dark.ico"
        media="(prefers-color-scheme: light)"
        />
    <link
        rel="icon"
        href="assets/favicon-light.ico"
        media="(prefers-color-scheme: dark)"
        />
    <link rel="stylesheet" href="assets/css/pcds/main.css" />
  </head>
  <body>
    <div class="demo-container">
      <div class="demo-row">
        <h1>PCDS</h1>
        <h2>PCDS</h2>
        <h3>PCDS</h3>
        <h4>PCDS</h4>
        <h5>PCDS</h5>
        <h6>PCDS</h6>
      </div>
      <div class="demo-row">
        <button class="btn btn--primary btn--lg">button</button> 
        <button class="btn btn--primary btn--md">button</button> 
        <button class="btn btn--primary btn--sm">button</button> 
      </div>
      <div class="demo-row">
        <button class="btn btn--primary">button</button> 
        <button class="btn btn--secondary">button</button> 
        <button class="btn btn--accent">button</button> 
      </div>
      <div class="demo-row">
        <button class="btn btn--primary btn--squared">
          <i class="bi-search"></i>
        </button>
        <button class="btn btn--primary btn--rounded">
          <i class="bi-gear"></i>
        </button>
      </div>
    </div>
  </body>
</html>

