<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Example template</title>
    <link
        rel="icon"
        href="assets/favicon-dark.ico"
        media="(prefers-color-scheme: light)"
        />
    <link
        rel="icon"
        href="assets/favicon-light.ico"
        media="(prefers-color-scheme: dark)"
        />
    <link rel="stylesheet" href="assets/css/table/main.css" />
  </head>
  <body>
    <div class="demo-container">
      <div class="demo-row ta-container">
        <section class="ta-table-header">
          <h1 class="ta-table-header__title">HTML table</h1>
          <p class="ta-table-header__description">HTML table</p>
        </section>
        <section>
          <div class="ta-toolbar">
            <button class="ta-toolbar__btn-secondary"><i class="bi-search"></i></button>
            <button class="ta-toolbar__btn-secondary"><i class="bi-gear"></i></button>
            <button class="ta-toolbar__btn-primary">Interact</button>
          </div>
        </section>
        <table class="ta">
          <thead>
            <tr>
              <th class="ta__th">Company</th>
              <th class="ta__th">Contact</th>
              <th class="ta__th">Country</th>
            </tr>
          </thead>
          <tbody>
            <tr class="ta__tr">
              <td class="ta__td">Alfreds Futterkiste</td>
              <td class="ta__td">Maria Anders</td>
              <td class="ta__td">Germany</td>
            </tr>
            <tr class="ta__tr">
              <td class="ta__td">Centro comercial Moctezuma</td>
              <td class="ta__td">Francisco Chang</td>
              <td class="ta__td">Mexico</td>
            </tr>
            <tr class="ta__tr">
              <td class="ta__td">Ernst Handel</td>
              <td class="ta__td">Roland Mendel</td>
              <td class="ta__td">Austria</td>
            </tr>
            <tr class="ta__tr">
              <td class="ta__td">Island Trading</td>
              <td class="ta__td">Helen Bennett</td>
              <td class="ta__td">UK</td>
            </tr>
            <tr class="ta__tr">
              <td class="ta__td">Laughing Bacchus Winecellars</td>
              <td class="ta__td">Yoshi Tannamuri</td>
              <td class="ta__td">Canada</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
