/* --------------------------------

Demo purpose

-------------------------------- */

.demo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: var(--pcds-space-xl);
}

.demo-row {
  max-width: 1000px;
  width: 100%;
  margin: 0 var(--pcds-space-xxl);
  padding: var(--pcds-space-sm) 0px;
}
